## 판다스의 데이터 추가

In [2]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.5.0-py2.py3-none-any.whl (74kB)
    100% |████████████████████████████████| 81kB 77kB/s ta 0:00:01
Requirement already satisfied: pandas>=0.17.0 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas_datareader)
Collecting requests-ftp (from pandas_datareader)
  Downloading requests-ftp-0.3.1.tar.gz
Collecting requests-file (from pandas_datareader)
  Downloading requests-file-1.4.2.tar.gz
Requirement already satisfied: requests>=2.3.0 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas_datareader)
Requirement already satisfied: python-dateutil>=2 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: pytz>=2011k in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: numpy>=1.7.0 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: six in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests-file->pandas_datareader)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dahlmoon/anaconda/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Building wheels for collected packages: requests-ftp, requests-file
  Running setup.py bdist_wheel for requests-ftp ... done
  Stored in directory: /Users/dahlmoon/Library/Caches/pip/wheels/76/fb/0d/1026eb562c34a4982dc9d39c9c582a734eefe7f0455f711deb
  Running setup.py bdist_wheel for requests-file ... done
  Stored in directory: /Users/dahlmoon/Library/Caches/pip/wheels/3e/34/3a/c2e634ca7b545510c1b3b7d94dea084e5fdb5f33558f3c3a81
Successfully built requests-ftp requests-file
Installing collected packages: requests-ftp, requests-file, pandas-datareader
Successfully installed pandas-datareader-0.5.0 requests-file-1.4.2 requests-ftp-0.3.1

In [3]:
import pandas as pd
import pandas_datareader.data as web

In [10]:
dir(web)

['DataReader',
 'EdgarIndexReader',
 'EnigmaReader',
 'EurostatReader',
 'FamaFrenchReader',
 'FredReader',
 'GoogleDailyReader',
 'GoogleOptions',
 'GoogleQuotesReader',
 'OECDReader',
 'Options',
 'QuandlReader',
 'YahooActionReader',
 'YahooDailyReader',
 'YahooDivReader',
 'YahooOptions',
 'YahooQuotesReader',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'get_components_yahoo',
 'get_data_enigma',
 'get_data_famafrench',
 'get_data_fred',
 'get_data_google',
 'get_data_quandl',
 'get_data_yahoo',
 'get_data_yahoo_actions',
 'get_nasdaq_symbols',
 'get_quote_google',
 'get_quote_yahoo',
 'warnings']

In [9]:
help(web.DataReader)

Help on function DataReader in module pandas_datareader.data:

DataReader(name, data_source=None, start=None, end=None, retry_count=3, pause=0.001, session=None, access_key=None)
    Imports data from a number of online sources.

    Currently supports Yahoo! Finance, Google Finance, St. Louis FED (FRED),
    Kenneth French's data library, and the SEC's EDGAR Index.

    Parameters
    ----------
    name : str or list of strs
        the name of the dataset. Some data sources (yahoo, google, fred) will
        accept a list of names.
    data_source: {str, None}
        the data source ("yahoo", "yahoo-actions", "yahoo-dividends",
        "google", "fred", "ff", or "edgar-index")
    start : {datetime, None}
        left boundary for range (defaults to 1/1/2010)
    end : {datetime, None}
        right boundary for range (defaults to today)
    retry_count : {int, 3}
        Number of times to retry query request.
    pause : {numeric, 0.001}
        Time, in seconds, to pause between consecutive queries of chunks. If
        single value given for symbol, represents the pause between retries.
    session : Session, default None
            requests.sessions.Session instance to be used

    Examples
    ----------

    # Data from Yahoo! Finance
    gs = DataReader("GS", "yahoo")

    # Corporate Actions (Dividend and Split Data)
    # with ex-dates from Yahoo! Finance
    gs = DataReader("GS", "yahoo-actions")

    # Data from Google Finance
    aapl = DataReader("AAPL", "google")

    # Data from FRED
    vix = DataReader("VIXCLS", "fred")

    # Data from Fama/French
    ff = DataReader("F-F_Research_Data_Factors", "famafrench")
    ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
    ff = DataReader("6_Portfolios_2x3", "famafrench")
    ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")

    # Data from EDGAR index
    ed = DataReader("full", "edgar-index")
    ed2 = DataReader("daily", "edgar-index")

In [6]:
gs = web.DataReader("078930.KS", "yahoo", "2014-01-01", "2017-10-06")

In [7]:
gs.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2014-01-02  58200.0  58300.0  56000.0  56400.0  51602.105469  247497.0
2014-01-03  56500.0  56700.0  55100.0  55700.0  50961.656250  220482.0
2014-01-06  55400.0  55800.0  54600.0  55500.0  50778.664063  190935.0
2014-01-07  55000.0  55600.0  54900.0  55100.0  50412.695313  179610.0
2014-01-08  55300.0  55400.0  53700.0  54300.0  49680.750000  374566.0

In [8]:
gs.tail()

               Open     High      Low    Close  Adj Close    Volume
Date
2017-09-27  64700.0  65800.0  64700.0  65800.0    65800.0  118293.0
2017-09-28  65000.0  65000.0  64100.0  64600.0    64600.0  169122.0
2017-09-29  64800.0  65600.0  64400.0  65600.0    65600.0  147107.0
2017-10-02  65600.0  65600.0  65600.0  65600.0    65600.0       0.0
2017-10-10  65600.0  65600.0  65600.0  65600.0    65600.0       0.0

## 5일 기준의 이동평균을 계산하기

In [11]:
ma5 = gs['Adj Close'].rolling(window=5).mean()

In [12]:
ma5.head()

Date
2014-01-02             NaN
2014-01-03             NaN
2014-01-06             NaN
2014-01-07             NaN
2014-01-08    50687.174219
Name: Adj Close, dtype: float64

In [13]:
ma5.tail()

Date
2017-09-27    65260.0
2017-09-28    64960.0
2017-09-29    64800.0
2017-10-02    65120.0
2017-10-10    65440.0
Name: Adj Close, dtype: float64